/Applications/MAMP/htdocs/gev2/touch-icon-ipad-retina.png
/Applications/MAMP/htdocs/gev2/touch-icon-ipad.png
/Applications/MAMP/htdocs/gev2/touch-icon-iphone-retina.png
/Applications/MAMP/htdocs/gev2/touch-icon-iphone.png
/Applications/MAMP/htdocs/gev2/favicon.ico
/Applications/MAMP/htdocs/gev2/gev2.esproj
/Applications/MAMP/htdocs/gev2/images
/Applications/MAMP/htdocs/gev2/img